name: Auto Join Request Bot

on:
  workflow_dispatch:
  schedule:
    - cron: "*/5 * * * *"

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Run Bot
        run: node bot.js
        env:
          BOT_TOKEN: ${{ 7953142935:AAFt144WmHspKNyqo-yuo6uQWrrjV0Qr1yM }}
